<% @title='Movies' %>

<div class="row">
  <div class="large-12 columns">
    <h1>Movies </h1>
    <p>Movies of results from GRChombo can be found on our <a href="https://www.youtube.com/channel/UCitRsfCgQ1qiz9hvAM20GUQ/videos">YouTube channel</a>. Movies related to a specific article can be found in the relevant playlists, as linked on the <a href="/publications">publications</a> page. Here are some of our favourite movies!</p>
  </div>
  <div class="large-6 columns">
    <div class="flex-video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/nHH3gTEjMPo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
  <div class="large-6 columns">
    <div class="flex-video">
<iframe width="560" height="315" src="https://www.youtube.com/embed/U5CkThsDU6w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
  <div class="large-6 columns">
    <div class="flex-video">
       <iframe width="420" height="315" src="https://www.youtube.com/embed/C2IL7nN6mlA" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="large-6 columns">
    <div class="flex-video">
      <iframe width="420" height="315" src="https://www.youtube.com/embed/TeEBQ19hPzA" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="large-6 columns">
    <div class="flex-video">
      <iframe width="420" height="315" src="https://www.youtube.com/embed/GqUi_Co9HXw" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="large-6 columns">
    <div class="flex-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/hBvaHLhlhE4" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="large-6 columns">
    <div class="flex-video">
      <iframe width="420" height="315" src="https://www.youtube.com/embed/oHO4658OFq0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="large-6 columns">
    <div class="flex-video">
      <iframe width="420" height="315" src="https://www.youtube.com/embed/pwaawCznd5M" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
