<% @title='Publications' %>

<div class="row">
  <div class="large-12 columns">
    <h1>Publications</h1>
    <p>Papers which make use of GRChombo are listed here:</p>
  </div>
  <div class="large-12 columns">
    <p> Francesco Muia, Michele Cicoli, Katy Clough, Francisco Pedro, Fernando Quevedo, Gian Paolo Vacca (2019). <strong>The Fate of Dense Scalar Stars.</strong> ePrint at <a href="https://arxiv.org/abs/1906.09346">arXiv:1906.093466</a>. 
    </p>
    <p>Katy Clough, Pedro G. Ferreira, Macarena Lagos (2019). <strong>On the growth of massive scalar hair around a Schwarzschild black hole.</strong> ePrint at <a href="https://arxiv.org/abs/1904.12783">arXiv:1904.12783</a>.
    </p>
    <p>Thomas Helfer, Josu C. Aurrekoetxea, Eugene A. Lim (2018). <strong>Cosmic String Loop Collapse in Full General Relativity.</strong> Published in <a href="https://link.aps.org/doi/10.1103/PhysRevD.99.104028">Phys.Rev. D99 (2019) no.10, 104028</a>. ePrint at <a href="https://arxiv.org/abs/1808.06678v2">arXiv:1808.06678v2</a>. Movies at the YouTube playlist <a href="https://www.youtube.com/playlist?list=PLSkfizpQDrcaAxkuQ3BtjILn_tJu-jXxY">Cosmic String Loop Collapse in Full GR</a>.
    </p>
    <p>Katy Clough, Tim Dietrich, Jens C. Niemeyer (2018). <strong>Axion star collisions with black holes and neutron stars in full 3D numerical relativity.</strong> ePrint at <a href="https://arxiv.org/abs/1808.04668">arXiv:1808.04668</a>.
    </p>
    <p>James Y. Widdicombe, Thomas Helfer, David J.E. Marsh, Eugene A. Lim (2018). <strong>Formation of Relativistic Axion Stars.</strong> ePrint at <a href="https://arxiv.org/abs/1806.09367v2">arXiv:1806.09367v2</a>.
    </p>
    <p>Thomas Helfer, Eugene A. Lim, Marcos A. G. Garcia, Mustafa A. Amin (2018). <strong>Gravitational Wave Emission from Collisions of Compact Scalar Solitons.</strong> ePrint at <a href="https://arxiv.org/pdf/1802.06733.pdf">arXiv:1802.06733</a>. Movies at the YouTube playlist <a href="https://www.youtube.com/playlist?list=PLSkfizpQDrcahgvc5TvBk5qtXAzkSyHPe">Collisions of Compact Scalar Soliton</a>.
    </p>
    <p>Katy Clough, Raphael Flauger, Eugene A. Lim (2017). <strong>Robustness of Inflation to Large Tensor Perturbations.</strong> ePrint at <a href="https://arxiv.org/abs/1712.07352">arXiv:1712.07352</a>. Movies at the YouTube playlist <a href="https://www.youtube.com/playlist?list=PLSkfizpQDrcZv6RKNPnQ_1NcHRvgP_b_F">Inflation - tensor perturbations</a>.
    </p>
    <p>Pau Figueras, Markus Kunesch, Luis Lehner, Saran Tunyasuvunakool (2017). <strong>End Point of the Ultraspinning Instability and Violation of Cosmic Censorship.</strong> Published in <a href="https://doi.org/10.1103/PhysRevLett.118.151103">Phys.Rev.Lett. 118 (2017) 15, 151103</a>. ePrint at <a href="https://arxiv.org/abs/1702.01755">arXiv:1702.01755</a>. Movies at the YouTube playlist <a href="https://www.youtube.com/playlist?list=PLSkfizpQDrcZCXofSUVFIU5R3zYRmCpgg">Ultraspinning Myers-Perry</a>.
    </p>
    <p>Thomas Helfer, David J. E. Marsh, Katy Clough, Malcolm Fairbairn, Eugene A. Lim, Ricardo Becerril (2016). <strong>Black hole formation from axion stars.</strong> Published in <a href="http://iopscience.iop.org/article/10.1088/1475-7516/2017/03/055/meta">JCAP 1703 (2017) no.03, 055.</a> ePrint at <a href="http://arxiv.org/abs/1609.04724">arXiv:1609.04724</a>. Movies at the YouTube playlist <a href="https://www.youtube.com/playlist?list=PLSkfizpQDrcYflSOzWVSPRVjGDf2s6-bw">Axion stars</a>.
    </p>
    <p>Katy Clough, Eugene Lim, Brandon S. DiNunno, Willy Fischler, Raphael Flauger, Sonia Paban (2016). <strong>Robustness of Inflation to Inhomogeneous Initial Conditions.</strong> Published in <a href="http://iopscience.iop.org/article/10.1088/1475-7516/2017/09/025/meta">JCAP 1709 (2017) no.09, 025.</a> ePrint at <a href="https://arxiv.org/abs/1608.04408">arXiv:1608.04408</a>. Movies at the YouTube playlist <a href="https://www.youtube.com/playlist?list=PLSkfizpQDrcYG7ynvfE15bYpfM8E7IVuX">Inflation - scalar perturbations</a>.
    </p>
    <p>Katy Clough, Eugene Lim (2016). <strong>Critical Phenomena in Non-spherically Symmetric Scalar Bubble Collapse.</strong> ePrint at <a href="http://arxiv.org/abs/1602.02568">arXiv:1602.02658</a>. Movies at the YouTube playlist <a href="https://www.youtube.com/playlist?list=PLSkfizpQDrcaxLyb4KdPhFs7yNVBdX5R0">Critical Bubble Collapse</a>.
    </p>
    <p>Pau Figueras, Markus Kunesch, Saran Tunyasuvunakool (2015). <strong>End Point of Black Ring Instabilities and the Weak Cosmic Censorship Conjecture.</strong> Published as an Editor's Suggestion in <a href="http://dx.doi.org/10.1103/PhysRevLett.116.071102">Phys.Rev.Lett. 116 (2016) 7, 071102</a>. ePrint at <a href="http://arxiv.org/abs/1512.04532">arXiv:1512.04532</a>. Movies at the YouTube playlist <a href="https://www.youtube.com/playlist?list=PLSkfizpQDrcaKU_PF_KLTgYeksQ5K08PS">Black Rings</a>.
    </p>
    <p>Katy Clough, Pau Figueras, Hal Finkel, Markus Kunesch, Eugene A. Lim, Saran Tunyasuvunakool (2015). <strong>GRChombo : Numerical Relativity with Adaptive Mesh Refinement.</strong> Published in <a href="http://dx.doi.org/10.1088/0264-9381/32/24/245011">Class.Quant.Grav. 32 (2015) 24, 245011</a>. ePrint at <a href="http://arxiv.org/abs/1503.03436">arXiv:1503.03436</a>. Movies at the YouTube playlist <a href="https://www.youtube.com/playlist?list=PLSkfizpQDrcb1bumC4cmZbUUtMGdUJcM1">Testing GRChombo</a>.
    </p>
  </div>
</div>
